Sphinx>=8.0
#sphinx_rtd_theme>=3.0.0
#pydata-sphinx-theme
opensees
xara
sphinx-book-theme
sphinx-tabs
sphinx-sitemap<2.7.0
sphinx-copybutton
sphinxcontrib-bibtex
sphinxcontrib-googleanalytics
myst-parser

